<!DOCTYPE html>
<html>
	<head>
	    <title>SiwBooks</title>
		<link rel="stylesheet" href="../css/style.css">
	</head>
	
	<body>
		
		<header>
			
			<div class="logo-title">
				<span><img src="../images/siw-books-logo.png" class="image-logo"></span>
				<span><h1>SiwBooks</h1></span>
			</div>
			
			<nav class="nav">
				<a href="/" class="nav-link">Home</a>
				<a href="/books" class="nav-link">Libri</a>
				<a href="/authors" class="nav-link">Autori</a>
				<a href="/addBook" class="login-button">Aggiungi Libro</a>
				<a href="/account" class="login-button">Account</a>
			</nav>
		</header>
		
		<main class="main-form">
			<div class="form-container">
				<div class="form-box">
					<h1>Aggiungi Autore</h1>
					
					<form th:action="@{/addAuthor}" enctype="multipart/form-data" method="post" th:object="${authorDto}">
						<div class="input-field">
							<label for="name">Nome</label>
							<input type="text" name="name" id="name" th:field="*{name}" required>
						</div>
						
						<div class="input-field">
							<label for="surname">Cognome</label>
							<input type="text" name="surname" id="surname" th:field="*{surname}" required>
						</div>
						
						<div class="input-field">
							<label for="birthDate">Data di nascita</label>
							<input type="date" name="birthDate" id="birthDate" th:field="*{birthDate}" required>
						</div>
						
						<div class="input-field">
							<label for="deathDate">Data di morte</label>
							<input type="date" name="deathDate" id="deathDate" th:field="*{deathDate}">
						</div>
						
						<div class="input-field">
							<label for="nationality">Nazionalità</label>
							<input type="text" name="nationality" id="nationality" th:field="*{nationality}" required>
						</div>
						
						<div class="input-field">
							<label for="urlImages">Foto</label>
							<input type="file" name="urlImage" accept="image/*">
						</div>
						
						<div class="input-field">
							<button type="submit" class="submit-button">Salva Autore</button>
							<a href="/"><button type="button" class="form-button">Annulla</button></a>
						</div>
						
					</form>
				</div>
			</div>
		</main>
		
	</body>
</html>