<!DOCTYPE html>
<html>
	<head>
	    <title>SiwBooks</title>
		<link rel="stylesheet" href="../css/style.css">
	</head>
	
	<body>
		
		<header>
			
			<div class="logo-title">
				<span><img src="../images/siw-books-logo.png" class="image-logo"></span>
				<span><h1>SiwBooks</h1></span>
			</div>
			
			<nav class="nav">
				<a href="/" class="nav-link">Home</a>
				<a href="/books" class="nav-link">Libri</a>
				<a href="/authors" class="nav-link">Autori</a>
				<a href="/addBook" class="login-button">Aggiungi Libro</a>
				<a href="/account" class="login-button">Account</a>
			</nav>
		</header>
		
		<main class="main-form">
			<div class="form-container">
				<div class="form-box">
					<h1>Aggiungi Libro</h1>
					
					<form th:action="@{/addBook}" enctype="multipart/form-data" method="post" th:object="${bookDto}">
						<div class="input-field">
							<label for="title">Titolo</label>
							<input type="text" name="title" id="title" th:field="*{title}" required>
						</div>
						
						<div class="input-field" style="height: 18vh;">
							<label for="description">Descrizione</label>
							<textarea type="text" name="description" id="description" th:field="*{description}" required></textarea>
						</div>
						
						<div class="input-field">
							<label for="year">Anno di Pubblicazione</label>
							<input type="number" min="1000" max="2099" name="year" id="year" th:field="*{year}" required>
						</div>
						
						<div class="input-field" style="height: auto;">
							<label for="authorsIds">Autori</label>
							<div th:if="${#lists.isEmpty(authors)}" class="message">
								Nessun autore disponibile al momento.
							</div>
							
							<div class="checkbox-container">
								<div th:if="${not #lists.isEmpty(authors)}" th:each="author : ${authors}">
									<input type="checkbox" th:id="'author-' + ${author.id}" th:name="author" th:value="${author.id}">
									<label th:for="'author-' + ${author.id}" th:text="${author.name} + '  ' + ${author.surname}"></label>
								</div>
							</div>
						</div>
						
						<div class="input-field">
							<label for="urlImages">Foto</label>
							<input type="file" name="urlImages" accept="image/*">
						</div>
						
						<div class="input-field">
							<button type="submit" class="submit-button">Salva Libro</button>
							<a href="/"><button type="button" class="form-button">Annulla</button></a>
						</div>
					</form>
				</div>
			</div>
		</main>
		
	</body>
</html>