<!DOCTYPE html>
<html>
	<head>
	    <title>SiwBooks</title>
		<link rel="stylesheet" href="../css/style.css">
	</head>
	
	<body>
		
		<header>
			
			<div class="logo-title">
				<span><img src="../images/siw-books-logo.png" class="image-logo"></span>
				<span><h1>SiwBooks</h1></span>
			</div>
			
			<nav class="nav">
				<a href="/" class="nav-link">Home</a>
				<a href="/books" class="nav-link">Libri</a>
				<a href="/authors" class="nav-link">Autori</a>
				<a href="/addBook" class="login-button">Aggiungi Libro</a>
				<a href="/account" class="login-button">Account</a>
			</nav>
		</header>
		
		<main class="main-form">
			<div class="form-container">
				<div class="form-box">
					<h1>Scrivi Recensione</h1>
					
					<form th:action="@{/addBook}" method="post" th:object="${reviewDto}">
						<div class="input-field">
							<label for="title">Titolo</label>
							<input type="text" name="title" id="title" th:field="*{title}" required>
						</div>
						
						<div class="input-field" style="height: 18vh;">
							<label for="text">Testo</label>
							<textarea type="text" name="text" id="text" th:field="*{text}" required></textarea>
						</div>
						
						<div class="input-field">
							<label for="score">Voto (1 - 5)</label>
							<input type="number" min="1" max="5" name="score" id="score" th:field="*{score}" required>
						</div>
						
						<div class="input-field">
							<button type="submit" class="submit-button">Salva Recensione</button>
							<a href="/"><button type="button" class="form-button">Annulla</button></a>
						</div>
					</form>
				</div>
			</div>
		</main>
		
	</body>
</html>