<!DOCTYPE html>
<html>
	<head>
	    <title>SiwBooks</title>
		<link rel="stylesheet" href="/css/style.css">
	</head>
	
	<body>
		
		<header>
			
			<div class="logo-title">
				<span><img src="/images/siw-books-logo.png" class="image-logo"></span>
				<span><h1>SiwBooks</h1></span>
			</div>
			
			<nav class="nav">
				<a href="/" class="nav-link">Home</a>
				<a href="/books" class="nav-link">Libri</a>
				<a href="/authors" class="nav-link">Autori</a>
				<a th:if="${isAdmin}" href="/addBook" class="login-button">Aggiungi Libro</a>
				<a href="/account" class="login-button">Account</a>
			</nav>
		</header>
		
		<main class="main-form">
			<section class="form-box" style="border: 0.5px solid #2E2E2E;">
				<h1>Account</h1>
				
				<form th:action="@{/account}" method="post" th:object="${credentials}">
					<div class="input-field">
						<label for="name">Nome</label>
						<input type="text" name="name" id="name" th:value="${credentials.user.name}" readonly>
					</div>
					
					<div class="input-field">
						<label for="name">Cognome</label>
						<input type="text" name="surname" id="surname" th:value="${credentials.user.surname}" readonly>
					</div>
					
					<div class="input-field">
						<label for="name">Email</label>
						<input type="text" name="email" id="email" th:value="${credentials.user.email}" readonly>
					</div>
					
					<div class="input-field">
						<label for="name">Username</label>
						<input type="text" name="username" id="username" th:value="${credentials.username}" readonly>
					</div>
					
					<div class="input-field">
						<label for="role">Ruolo</label>
						<input type="text" name="role" id="role" th:value="${credentials.role}" readonly>
					</div>
					
					<div>
						<a href="/logout"><button type="button" class="submit-button">Logout</button></a>
					</div>
				</form>
			</section>
			
			<section class="form-box" style="border: 0.5px solid #2E2E2E; margin-top: 2rem;">
				<h1>Le tue recensioni</h1>
				
				<div th:if="${#lists.isEmpty(reviews)}" class="message">
					Nessuna recensione disponibile al momento.
				</div>
				
				<div th:if="${not #lists.isEmpty(reviews)}"> 
					<div class="review-container" th:each="review : ${reviews}" style="width: 30vw; margin-top: 0.5rem;">
						<a th:href="@{'/book/' + ${review.book.id}}" th:text="${review.book.title}"></a>
						<div>
					        <span th:each="star : ${#numbers.sequence(1, 5)}"
					              th:text="${star <= review.score} ? '★' : '☆'"
					              class="star">
							</span>
							<span class="username" th:text="${review.user.credentials.username}"></span>
					    </div>
						<h4 th:text="${review.title}"></h4>
						<p th:text="${review.text}"></p>
						<div th:if="${!isAnonymous}" class="review-buttons">
							<a th:href="@{'/updateReview/' + ${review.id}}" class="update">Modifica</a>
							<a th:href="@{'/deleteReview/' + ${review.id}}">Elimina</a>
						</div>
					</div>
				</div>
			</section>
		</main>
		
		<footer>
			<p>© 2025 SiwBooks - Tutti i diritti riservati</p>
		</footer>
		
	</body>
</html>