<!DOCTYPE html>
<html>
	<head>
	    <title>Account</title>
		<link rel="stylesheet" href="/css/style.css">
		<link rel="stylesheet" href="/css/books.css">
	</head>
	
	<body>
		
		<header>
			
			<div class="logo-title">
				<span><img src="/images/siw-books-logo.png" class="image-logo"></span>
				<span><h1>SiwBooks</h1></span>
			</div>
			
			<nav class="nav">
				<a href="/admin/adminHomepage" class="nav-link">Home</a>
				<a href="/books" class="nav-link">Libri</a>
				<a href="/authors" class="nav-link">Autori</a>
				<a href="/addBook" class="login-button">Aggiungi Libro</a>
				<a href="/account" class="login-button">Account</a>
			</nav>
		</header>
		
		<hr>
		
		<main class="from-container">
			<div class="form-box">
				<h1>Account</h1>
			</div>
		</main>
		
	</body>
</html>