<!DOCTYPE html>
<html>
	<head>
	    <title>SiwBooks</title>
		<link rel="stylesheet" href="/css/style.css">
		<link rel="stylesheet" href="/css/author.css">
	</head>
	
	<body>
		
		<header>
			
			<div class="logo-title">
				<span><img src="/images/siw-books-logo.png" class="image-logo"></span>
				<span><h1>SiwBooks</h1></span>
			</div>
			
			<nav class="nav">
				<a href="/" class="nav-link">Home</a>
				<a href="/books" class="nav-link">Libri</a>
				<a href="/authors" class="nav-link">Autori</a>
				<a th:if="${isAdmin}" href="/addBook" class="login-button">Aggiungi Libro</a>
				<a th:if="${isAnonymous}" href="/login" class="login-button">Accedi/Registrati</a>
				<a th:if="${!isAnonymous}" href="/account" class="login-button">Account</a>
			</nav>
		</header>
		
		<main>
			<section>
				<div th:if="${author.urlImage != null}">
					<img th:src="@{'/images/' + ${author.urlImage}}" alt="urlImage" class="author-image">
				</div>
				<div th:if="${author.urlImage == null}">
					<img src="/images/homepage-image.png" alt="defaultImage" class="author-image">
				</div>
				<div>
					<h1 th:text="${author.name} + ' ' + ${author.surname}">Name Surname</h1>
					<p><strong>Data di nascita: </strong><span th:text="${#temporals.format(author.birthDate, 'dd/MM/yyyy')}">BirthDate</span></p>
					<p><strong>Data di morte: </strong><span th:text="${#temporals.format(author.deathDate, 'dd/MM/yyyy')}">DeathDate</span></p>
					<p><strong>Nazionalità: </strong><span th:text="${author.nationality}">Nationality</span></p>
					<a th:if="${isAdmin}" th:href="@{'/updateAuthor/' + ${author.id}}" id="update-button">Modifica Autore</a>
					<a th:if="${isAdmin}" th:href="@{'/deleteAuthor/' + ${author.id}}" id="delete-button">Elimina Autore</a>
				</div>
			</section>
			<section class="books-section">
				<h2>Libri scritti</h2>
				<div th:if="${#sets.isEmpty(author.books)}" class="message">
					Nessun libro disponibile al momento.
				</div>
				
				<div th:if="${not #sets.isEmpty(author.books)}" class="carousel-container">
					<div class="carousel-track">
						<div class="carousel-card" th:each="book : ${author.books}">
							<a th:href="@{'/book/' + ${book.id}}">
								<div th:if="${not #lists.isEmpty(book.urlImage)}">
									<img th:src="@{'/images/' + ${book.urlImage[0]}}" alt="urlImage">
								</div>
								<div th:if="${#lists.isEmpty(book.urlImage)}">
									<img src="/images/homepage-image.png" alt="defaultImage">
								</div>
								<div class="carousel-card-details">
									<h4 th:text="${book.title}">Title</h4>
		                            <p th:text="${book.year}">Year</p>
								</div>
	                        </a>
						</div>
					</div>
				</div>
			</section>
		</main>
		
		<footer>
			<p>© 2025 SiwBooks - Tutti i diritti riservati</p>
		</footer>
		
	</body>
</html>