<!DOCTYPE html>
<html>
	<head>
	    <title>SiwBooks</title>
		<link rel="stylesheet" href="/css/style.css">
		<link rel="stylesheet" href="/css/book.css">
	</head>
	
	<body>
		
		<header>
			
			<div class="logo-title">
				<span><img src="/images/siw-books-logo.png" class="image-logo"></span>
				<span><h1>SiwBooks</h1></span>
			</div>
			
			<nav class="nav">
				<a href="/" class="nav-link">Home</a>
				<a href="/books" class="nav-link">Libri</a>
				<a href="/authors" class="nav-link">Autori</a>
				<a th:if="${isAdmin}" href="/addBook" class="login-button">Aggiungi Libro</a>
				<a th:if="${isAnonymous}" href="/login" class="login-button">Accedi/Registrati</a>
				<a th:if="${!isAnonymous}" href="/account" class="login-button">Account</a>
			</nav>
		</header>
		
		<main>
			<section>
				<div>
					<img src="/images/homepage-image.png" class="book-image">
				</div>
				<div>
					<h1 th:text="${book.title}">Titolo</h1>
					<p class="subtitle" th:text="'Anno di pubblicazione: ' + ${book.year}">Anno di Pubblicazione</p>
					<p class="description" th:text="${book.description}">Descrizione</p>
					<p><span style="font-weight: bold;">Autori: </span><span></span></p>
					<a th:if="${isAdmin}" th:href="@{'/updateBook/' + ${book.id}}" id="update-button">Modifica Libro</a>
					<a th:if="${isAdmin}" th:href="@{'/deleteBook/' + ${book.id}}" id="delete-button">Elimina Libro</a>
				</div>
			</section>
			
			<section class="reviews-section">
				<h2>Recensioni</h2>
			</section>
		</main>
		
		<footer>
			<p>© 2025 SiwBooks - Tutti i diritti riservati</p>
		</footer>
		
	</body>
</html>