<!DOCTYPE html>
<html>
	<head>
	    <title>Libri</title>
		<link rel="stylesheet" href="homepage.css">
	</head>
	
	<body>
		
		<header>
			
			<div class="logoETitolo">
				<span><img src="/images/siw-books-logo.png" class="immagine-logo"></span>
				<span><h1>SiwBooks</h1></span>
			</div>
			
			<nav class="menu">
				<a href="/" class="nav-link">Home</a>
				<a href="/books" class="nav-link">Libri</a>
				<a href="/authors" class="nav-link">Autori</a>
				<a href="" class="login-button">Accedi/Registrati</a>
			</nav>
		</header>
		
		<hr>
		
		<main>
			
		</main>
		
	</body>
</html>