<!DOCTYPE html>
<html>
	<head>
	    <title>SiwBooks</title>
		<link rel="stylesheet" href="/css/style.css">
		<link rel="stylesheet" href="/css/book.css">
	</head>
	
	<body>
		
		<header>
			
			<div class="logo-title">
				<span><img src="/images/siw-books-logo.png" class="image-logo"></span>
				<span><h1>SiwBooks</h1></span>
			</div>
			
			<nav class="nav">
				<a href="/" class="nav-link">Home</a>
				<a href="/books" class="nav-link">Libri</a>
				<a href="/authors" class="nav-link">Autori</a>
				<a th:if="${isAdmin}" href="/addBook" class="login-button">Aggiungi Libro</a>
				<a th:if="${isAnonymous}" href="/login" class="login-button">Accedi/Registrati</a>
				<a th:if="${!isAnonymous}" href="/account" class="login-button">Account</a>
			</nav>
		</header>
		
		<main>
			<section>
				<div th:if="${not #lists.isEmpty(book.urlImage)}" th:each="image : ${book.urlImage}">
					<img th:src="@{'/images/' + ${image}}" alt="urlImage" class="book-image">
				</div>
				<div th:if="${#lists.isEmpty(book.urlImage)}">
					<img src="/images/homepage-image.png" alt="defaultImage" class="book-image">
				</div>
				<div>
					<h1 th:text="${book.title}">Titolo</h1>
					<p class="subtitle" th:text="'Anno di pubblicazione: ' + ${book.year}">Anno di Pubblicazione</p>
					<p class="description" th:text="${book.description}">Descrizione</p>
					<p><strong>Autori:</strong></p>
					<ul>
					    <a th:href="'/author/' + ${author.id}" th:each="author : ${book.authors}"><li th:text="${author.name} + ' ' + ${author.surname}"></li></a>
					</ul>
					<a th:if="${isAdmin}" th:href="@{'/updateBook/' + ${book.id}}" id="update-button">Modifica Libro</a>
					<a th:if="${isAdmin}" th:href="@{'/deleteBook/' + ${book.id}}" id="delete-button">Elimina Libro</a>
				</div>
			</section>
			
			<section class="reviews-section">
				<h2>Recensioni</h2>
				<div style="width: 100%;">
					<a th:if="${!isAnonymous}"><button type="button" class="submit-button" style="width: 13vw;">Scrivi recensione</button></a>
				</div>
				
				<div th:if="${#lists.isEmpty(reviews)}" class="message">
					Nessuna recensione disponibile per questo libro.
				</div>
			</section>
		</main>
		
		<footer>
			<p>© 2025 SiwBooks - Tutti i diritti riservati</p>
		</footer>
		
	</body>
</html>