<!DOCTYPE html>
<html>
	<head>
	    <title>SiwBooks</title>
		<link rel="stylesheet" href="css/style.css">
		<link rel="stylesheet" href="css/books.css">
	</head>
	
	<body>
		
		<header>
			
			<div class="logo-title">
				<span><img src="images/siw-books-logo.png" class="image-logo"></span>
				<span><h1>SiwBooks</h1></span>
			</div>
			
			<nav class="nav">
				<a href="/" class="nav-link">Home</a>
				<a href="/books" class="nav-link">Libri</a>
				<a href="/authors" class="nav-link">Autori</a>
				<a th:if="${isAdmin}" href="/addBook" class="login-button">Aggiungi Libro</a>
				<a th:if="${isAnonymous}" href="/login" class="login-button">Accedi/Registrati</a>
				<a th:if="${!isAnonymous}" href="/account" class="login-button">Account</a>
			</nav>
		</header>
		
		<main>
			<div class="searchbar-field">
				<form th:action="@{/booksResults}" method="post" class="searchbar">
					<input type="text" name="keyword" th:value="${keyword}" placeholder="Cerca libri">
					<button type="submit" class="submit-button">Cerca</button>
				</form>
			</div>
			
			<section>
				<h1>I più votati</h1>

				<div th:if="${#lists.isEmpty(bestsellers)}" class="message">
					Nessun libro disponibile al momento.
				</div>
				
				<div th:if="${not #lists.isEmpty(bestsellers)}" class="carousel-container">
					<div class="carousel-track">
						<div class="carousel-card" th:each="bestseller, b : ${bestsellers}" th:if="${b.index < 10}">
							<a th:href="@{'/book/' + ${bestseller.id}}">
								<div th:if="${not #lists.isEmpty(bestseller.urlImage)}">
									<img th:src="@{'/images/' + ${bestseller.urlImage[0]}}" alt="urlImage">
								</div>
								<div th:if="${#lists.isEmpty(bestseller.urlImage)}">
									<img src="/images/homepage-image.png" alt="defaultImage">
								</div>
								
								<div class="carousel-card-details">
									<h4 th:text="${bestseller.title}">Title</h4>
		                            <p th:text="${bestseller.year}">Year</p>
								</div>
	                        </a>
						</div>
					</div>
				</div>
			</section>
			
			<section style="margin-top:-3rem;">
				<h1>Tutti i libri</h1>
				<div th:if="${#sets.isEmpty(books)}" class="message">
					Nessun libro disponibile al momento.
				</div>
				<div th:if="${not #sets.isEmpty(books)}" class="grid-container">
					<div class="carousel-card" th:each="book : ${books}">
						<a th:href="@{'/book/' + ${book.id}}">
							<div th:if="${not #lists.isEmpty(book.urlImage)}">
								<img th:src="@{'/images/' + ${book.urlImage[0]}}" alt="urlImage">
							</div>
							<div th:if="${#lists.isEmpty(book.urlImage)}">
								<img src="/images/homepage-image.png" alt="defaultImage">
							</div>
							
							<div class="carousel-card-details">
								<h4 th:text="${book.title}">Title</h4>
	                            <p th:text="${book.year}">Year</p>
							</div>
	                    </a>
					</div>
				</div>
			</section>
			
		</main>
		
		<footer>
			<p>© 2025 SiwBooks - Tutti i diritti riservati</p>
		</footer>
		
	</body>
</html>