<!DOCTYPE html>
<html>
	<head>
	    <title>HomePage</title>
		<link rel="stylesheet" href="stile.css">
	</head>
	
	<body>
		
		<header>
			<span><a href="/"><img src="/logo.png"/></a></span>
			<span><h1>SiwBooks</h1></span>
			<nav>
				<ul>
					<li><a href="">Home</a></li>
					<li><a href="">Piloti e Team</a></li>
					<li><a href="">Gran Premi</a></li>
					<li><a href="">Campionato</a></li>
					<li><a href="">Shop</a></li>
					<li><a href="">Accedi/Registrati</a></li>
				</ul>
			</nav>
		</header>
		
		<hr>
		
		<main>
		</main>
		
	</body>
</html>