<!DOCTYPE html>
<html>
	<head>
	    <title>HomePage</title>
		<link rel="stylesheet" href="homepage.css">
	</head>
	
	<body>
		
		<header>
			
			<div class="logoETitolo">
				<span><img src="/siw-books-logo.png" class="immagine-logo"></span>
				<span><h1>SiwBooks</h1></span>
			</div>
			
			<nav class="menu">
				<a href="/" class="nav-link">Home</a>
				<a href="/libri" class="nav-link">Libri</a>
				<a href="/autori" class="nav-link">Autori</a>
				<a href="" class="login-button">Accedi/Registrati</a>
			</nav>
		</header>
		
		<hr>
		
		<main>
			<section>
				<span><img src="/immagine-homepage.png" class="immagine-hero"></span>
				<div>
					<h1>Esplora centinaia di libri e i loro autori</h1>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
						incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrum 
						exercitationem ullamco laboriosam, nisi ut aliquid ex ea commodi consequatur. Duis 
						aute irure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla 
						pariatur. Excepteur sint obcaecat cupiditat non proident, sunt in culpa qui officia 
						deserunt mollit anim id est laborum.</p>
					<a href="/libri" class="books-button">Sfoglia Libri</a>
					<a href="/autori" class="authors-button">Esplora gli autori</a>
				</div>
			</section>
			
			<section>
				<h1>Ultimi Libri</h1>
			</section>
			
			<section>
				<h1>Recensioni Recenti</h1>
			</section>
		</main>
		
	</body>
</html>