<!DOCTYPE html>
<html>
	<head>
	    <title>HomePage</title>
		<link rel="stylesheet" href="css/style.css">
		<link rel="stylesheet" href="css/homepage.css">
	</head>
	
	<body>
		
		<header>
			
			<div class="logo-title">
				<span><img src="images/siw-books-logo.png" class="image-logo"></span>
				<span><h1>SiwBooks</h1></span>
			</div>
			
			<nav class="nav">
				<a href="/" class="nav-link">Home</a>
				<a href="/books" class="nav-link">Libri</a>
				<a href="/authors" class="nav-link">Autori</a>
				<a th:if="${isAdmin}" href="/addBook" class="login-button">Aggiungi Libro</a>
				<a th:if="${isAnonymous}" href="/login" class="login-button">Accedi/Registrati</a>
				<a th:if="${!isAnonymous}" href="/account" class="login-button">Account</a>
			</nav>
		</header>
		
		<hr>
		
		<main>
			<section>
				<span><img src="images/homepage-image.png" id="image-hero"></span>
				<div>
					<h1>Esplora centinaia di libri e i loro autori</h1>
					<p>Lasciati guidare dalla curiosità e immergiti in un mondo fatto di storie, emozioni e parole. Scopri centinaia di libri, 
						dai grandi classici alle nuove uscite, esplora trame appassionanti e conosci gli autori che le hanno create. Leggi 
						recensioni autentiche, confronta opinioni e lasciati ispirare da prospettive, esperienze e modi di raccontare diversi. 
						Su SiwBooks trovi strumenti utili per orientarti nella lettura e rricchire la tua esperienza come lettore.</p>
					<a href="/books" id="books-button">Sfoglia Libri</a>
					<a href="/authors" id="authors-button">Esplora gli autori</a>
				</div>
			</section>
			
			<section>
				<h1>Ultimi Libri</h1>
			</section>
			
			<section>
				<h1>Recensioni Recenti</h1>
			</section>
		</main>
		
		<footer>
			<p>© 2025 SiwBooks - Tutti i diritti riservati</p>
		</footer>
		
	</body>
</html>