<!DOCTYPE html>
<html>
	<head>
	    <title>Login</title>
		<link rel="stylesheet" href="css/style.css">
		<link rel="stylesheet" href="css/login.css">
	</head>
	
	<body>
		
		<header>
					
			<div class="logo-title">
				<span><img src="images/siw-books-logo.png" class="image-logo"></span>
				<span><h1>SiwBooks</h1></span>
			</div>
			
			<nav class="nav">
				<a href="/" class="nav-link">Home</a>
				<a href="/books" class="nav-link">Libri</a>
				<a href="/authors" class="nav-link">Autori</a>
				<a href="/login" class="login-button">Accedi/Registrati</a>
			</nav>
		</header>
		
		<hr>
		
		<main class="login-container">
			<div class="login-box">
				<h1 id="title">Accedi</h1>
				
				<form th:action="@{/login}" method="post">
					<div class="input-field">
						<label for="username">Username</label>
						<input type="text" name="username" id="username" required>
					</div>
					
					<div class="input-field">
						<label for="password">Password</label>
						<input type="password" name="password" id="password" required>
					</div>
					
					<div class="input-field">
						<button type="submit" class="submit-button">Accedi</button>
					</div>
				</form>
				
				<p id="forgot-password">
					Password dimenticata?
					<a href="" class="link-button">Recupera Password</a>
				</p>
				
				<p>
					Non hai un account?
					<a href="/register" class="link-button">Registrati</a>
				</p>
			</div>
		</main>
		
		<footer>
			<p>© 2025 SiwBooks - Tutti i diritti riservati</p>
		</footer>
	</body>
</html>