<!DOCTYPE html>
<html>
	<head>
	    <title>SiwBooks</title>
		<link rel="stylesheet" href="css/style.css">
		<link rel="stylesheet" href="css/homepage.css">
	</head>
	
	<body>
		
		<header>
			
			<div class="logo-title">
				<span><img src="images/siw-books-logo.png" class="image-logo"></span>
				<span><h1>SiwBooks</h1></span>
			</div>
			
			<nav class="nav">
				<a href="/" class="nav-link">Home</a>
				<a href="/books" class="nav-link">Libri</a>
				<a href="/authors" class="nav-link">Autori</a>
				<a th:if="${isAdmin}" href="/addBook" class="login-button">Aggiungi Libro</a>
				<a th:if="${isAnonymous}" href="/login" class="login-button">Accedi/Registrati</a>
				<a th:if="${!isAnonymous}" href="/account" class="login-button">Account</a>
			</nav>
		</header>
		
		<main>
			<!-- Form Reimposta Password -->
			<div>
			    <h2>Reimposta la tua password</h2>

			    <div th:if="${message != null}" >
			        <p th:text="${message}"></p>
			    </div>

			    <form th:action="@{/resetPassword}" method="post">
			        <input type="hidden" name="token" th:value="${token}" />

			        <input type="password" id="password" name="password" placeholder="Nuova password" required autofocus />

			        <input type="password" placeholder="Conferma password" required oninput="checkPasswordMatch(this);" />

			        <input type="submit" value="Cambia password" />
			    </form>
			</div>

			<script>
			    function checkPasswordMatch(confirmField) {
			        const pwd = document.getElementById("password").value;
			        if (confirmField.value !== pwd) {
			            confirmField.setCustomValidity("Le password non coincidono!");
			        } else {
			            confirmField.setCustomValidity("");
			        }
			    }
			</script>
		</main>
		
		<footer>
			<p>© 2025 SiwBooks - Tutti i diritti riservati</p>
		</footer>
		
	</body>
</html>