<!DOCTYPE html>
<html>
	<head>
	    <title>SiwBooks</title>
		<link rel="stylesheet" href="css/style.css">
	</head>
	
	<body>
		
		<header>
			
			<div class="logo-title">
				<span><img src="images/siw-books-logo.png" class="image-logo"></span>
				<span><h1>SiwBooks</h1></span>
			</div>
			
			<nav class="nav">
				<a href="/" class="nav-link">Home</a>
				<a href="/books" class="nav-link">Libri</a>
				<a href="/authors" class="nav-link">Autori</a>
				<a th:if="${isAdmin}" href="/addBook" class="login-button">Aggiungi Libro</a>
				<a th:if="${isAnonymous}" href="/login" class="login-button">Accedi/Registrati</a>
				<a th:if="${!isAnonymous}" href="/account" class="login-button">Account</a>
			</nav>
		</header>
		
		<main class="main-form">
			<section class="form-container">
				<section class="form-box">
					<h1>Reimposta la tua password</h1>
					
					<div th:if="${message != null}" class="message">
				        <p th:text="${message}"></p>
				    </div>
					
					<form th:action="@{/resetPassword}" method="post">
						<input type="hidden" name="token" th:value="${token}"/>
						
						<div class="input-field">
							<label for="password">Nuova password</label>
							<input type="password" name="password" id="password" required autofocus>
						</div>
						<div class="input-field">
							<label for="password">Conferma password</label>
							<input type="password" name="password" id="password" required oninput="checkPasswordMatch(this);">
						</div>
						
						<div class="input-field">
							<button type="submit" class="submit-button">Cambia password</button>
						</div>
					</form>
				</section>
			</section>
		</main>
		
		<footer>
			<p>© 2025 SiwBooks - Tutti i diritti riservati</p>
		</footer>
		
		<!-- SCRIPT --> 
		<script>
		    function checkPasswordMatch(confirmField) {
		        const pwd = document.getElementById("password").value;
		        if (confirmField.value !== pwd) {
		            confirmField.setCustomValidity("Le password non coincidono!");
		        } else {
		            confirmField.setCustomValidity("");
		        }
		    }
		</script>
		
	</body>
</html>