#container {
	position: absolute;
	top: 55%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 65vh;
	width: 40vw;
	background-color: #f3f4f6;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#title {
	margin-top: 20vh;
}

.input-field {
	height: 4vh;
	width: 15vw;
}