.register-container {
	position: absolute;
	top: 70%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 100vh;
	width: 40vw;
	background-color: #F5F5F5;
	border-radius: 12px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center
}

.register-box {
	height: 85vh;
	width: 30vw;
	background-color: white;
	border-radius: 12px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center
}

.input-field {
	height: 12vh;
	width: 25vw;
}

.input-field input {
	height: 4vh;
	width: 100%;
	margin-top: 1vh;
	padding: 4px 6px;
	font-size: 14px;
	border: 0.5px solid #5F5F5F;
	border-radius: 6px;
}

.input-field label {
	text-decoration: none;
	color: #2E2E2E;
	font-weight: 200;
	font-size: 16px;
}

.button {
	text-decoration: none;
	color: white;
	font-weight: 500;
	font-size: 18px;
	background-color: #4276D6;
	border: none;
	border-radius: 6px;
	padding: 12px;
	width: 25vw;
}

p {
	color: #2E2E2E;
	font-weight: 200;
	font-size: 16px;
}

.link-button {
	color: #4276D6;
}