section {
	align-items: center;
	display: flex;
	margin: 5vh 4vw 4rem 4vw; /* top - right - bottom - left */
	height: auto;
	width: auto;
	background-color: white;
	display: flex;
	flex-direction: column; /* per centrare gli elementi verticalmente*/
}

h1 {
	width: 100%;
}

.searchbar-field {
	align-items: center;
	display: flex;
	margin-top: 5vh;
	margin-left: 4vw;
	margin-right: 4vw;
}
