body {
  font-family: "Arial", "Helvetica", sans-serif;
  color: #2E2E2E;
}

header {
	align-items: center;
	display: flex;
	justify-content: space-between;
}

.logoETitolo {
	align-items: center;
	display: flex;
}

.immagine-logo {
	height: 10vh;
	margin-left: 4vw;
	margin-right: 2vw;
}

.menu {
	align-items: center;
	display: flex;
	justify-content: space-evenly;
	width: 40vw;
	margin-right: 4vw;
	margin-top: 2vh;
}

.nav-link {
	text-decoration: none;
	color: #2E2E2E;
	font-weight: 500;
	font-size: 18px;
}

.login-button {
	text-decoration: none;
	color: #2E2E2E;
	font-weight: 500;
	font-size: 18px;
	background-color: #F5F5F5;
	border-radius: 6px;
	padding: 10px 16px;
}

hr {
	background-color: #2E2E2E;
	height: 0.5px;
	border: none;
}

.hero {
	align-items: center;
	display: flex;
	margin-top: 8vh;
	margin-left: 8vw;
}

.immagine-hero {
	height: 30vh;
	margin-right: 8vw;
}

.books-button {
	display: inline-block;
	text-decoration: none;
	color: white;
	font-weight: 500;
	font-size: 18px;
	background-color: #4276D6;
	border-radius: 6px;
	padding: 12px 16px;
	margin-top: 4vh;
}

.authors-button {
	display: inline-block;
	text-decoration: none;
	color: #4276D6;
	font-weight: 500;
	font-size: 18px;
	background-color: white;
	border: 0.5px solid #4276D6;
	border-radius: 6px;
	padding: 12px 16px;
	margin-top: 4vh;
	margin-left: 2vw;
}